<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>
<header>			
<div class="navbar navbar-inverse navbar-static-top custom_bg">
	<div class="container-fluid">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navHeaderCollapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand colr_brand"><i class="fa fa-leaf" aria-hidden="true"></i>LOGO</a>
			<div class="collapse navbar-collapse navHeaderCollapse">
				<ul class="nav navbar-nav navbar-right hover_efct">
					<li class="active custom_text"><a href="#">America/Chicago</a></li>
					<div class="dropdown">
						<button onclick="myFunction()" class="dropbtn"><i class="fa fa-user" aria-hidden="true"></i><%- Name %></button>
	  						<div id="myDropdown" class="dropdown-content">
	    						<a href="/Profile">Profile</a>
	    						<a href="/logout">Logout<i class="fa fa-sign-out" aria-hidden="true"></i></a>
	  						</div>
					</div>
				</ul>
			</div>
	</div>
</div>
</header>
<div class="col-md-12 custom_overview">
	<p>Dashboard</p>
	<h2>OVERVIEW</h2>
</div>

	<div class="">
		<div class="col-md-2">
			 <div id="circle" style="max-height: 200px"></div>
		</div>
		<div class="col-md-2">

			</div>
		</div>
		<div class="col-md-2">
			
		</div>
		<div class="col-md-2">
			
		</div>
	</div>

</body>
</html>





<script>

function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

$("document").ready(function(){
		 var morr=Morris.Donut({
		  element: 'circle',
		  data: [
		    {label: "probe", value: 10,labelColor:'#000000'},
		  ]
		});

		var pageURL = document.location.origin;

	 		var socket = io.connect(pageURL);
	  		setInterval(function(){ 
	  			var room ='<%-Name %>';
			    socket.emit('req_fetchinfo',room);
			}, 3000);

	   		 socket.on('get_fetchinfo',function(value,color){
	   		 	//console.log(color);
			    morr.setData( [{ label: "probe", value: value,labelColor: color } ]);
			
			});

});
</script>