<!DOCTYPE html>
<html>
<head>
	<title>privacy</title>
</head>
<body>
<p>
	We follows facebook terms and conditions. Our app does not violates any user information.
	We loves our customers.
</p>
</body>
</html>